

.pagination {
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
  }
  
  .pagination li {
    display: inline;
    padding: 10px 15px;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #eeeeee;
    border-radius: 2px;
  }
  
  .pagination li.active {
    font-weight: bold;
    background-color: #428bca;
  }
  
  .pagination li.disabled {
    pointer-events: none;
    color: #999;
  }

  .older-btn, .newer-btn{
    width: 100px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #eeeeee;
  }

  .older-btn{
    float: left;
  }

  .newer-btn{
    float: right;
  }